{{define "network"}}

<div class="mdl-grid">
   <div class="mdl-cell mdl-cell--6-col">
      <!-- Card -->
      <div class='demo-card-wide mdl-card mdl-shadow--6dp'>
         <form class='form'  method="post" action="">
            <!-- Card body -->
            <ul class="mdl-list">
               <!-- Mode: DHCP (default) / Static IP -->
               <li class="mdl-list__item mdl-list__item--three-line">
                  <div class="mdl-list__item-primary-content">
                     <div class="color-accent mdl-color-text">Network mode: </div>
                     <div class="mdl-list__item-text-body">
                        Choose between DHCP (default) or Static IP. Note that if you chose static IP, you will have to manually fill the other fields (otherwise they are filled automatically).
                     </div>
                  </div>
                  <div class="mdl-list__item-secondary-content">
                     <div class="mdl-selectfield mdl-js-selectfield">
                        <select class="mdl-selectfield__select" id="Mode" name="Mode" oninput="onModeChange(this.value)" initialValueHack="{{.Data.Mode}}">
                           <option value="DHCP">DHCP</option>
                           <option value="Static">Static IP</option>
                        </select>
                     </div>
                  </div>
               </li>
               <!-- IP address: (not editable in DHCP) -->
               <li class="mdl-list__item mdl-list__item--three-line">
                  <div class="mdl-list__item-primary-content">
                     <div class="color-accent mdl-color-text">IP address: </div>
                     <div class="mdl-list__item-text-body">
                        IP address of the device, should be something like: '192.168.1.47'.1
                     </div>
                  </div>
                  <div class="mdl-list__item-secondary-content">
                     <div class="mdl-textfield mdl-js-textfield" id="IPInput">
                        <input required class="mdl-textfield__input" pattern="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$" type="text" id="IP" name="IP" value="{{.Data.IP}}">
                        <div class="mdl-textfield__error">Invalid format</div>
                     </div>
                  </div>
               </li>
               <!-- Netmask: (not editable in DHCP) -->
               <li class="mdl-list__item mdl-list__item--three-line">
                  <div class="mdl-list__item-primary-content">
                     <div class="color-accent mdl-color-text">Netmask: </div>
                     <div class="mdl-list__item-text-body">
                        Netmask of the device, should be something like: '255.255.255.0'.
                     </div>
                  </div>
                  <div class="mdl-list__item-secondary-content">
                     <div class="mdl-textfield mdl-js-textfield" id="NetmaskInput">
                        <input required class="mdl-textfield__input" pattern="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$" type="text" id="Netmask" name="Netmask" value="{{.Data.Netmask}}">
                        <div class="mdl-textfield__error">Invalid format</div>
                     </div>
                  </div>
               </li>
               <!-- Gateway: (not editable in DHCP) -->
               <li class="mdl-list__item mdl-list__item--three-line">
                  <div class="mdl-list__item-primary-content">
                     <div class="color-accent mdl-color-text">Gateway: </div>
                     <div class="mdl-list__item-text-body">
                        Gateway IP address of the device, should be something like: '192.168.1.1'.
                     </div>
                  </div>
                  <div class="mdl-list__item-secondary-content">
                     <div class="mdl-textfield mdl-js-textfield" id="GatewayInput">
                        <input required class="mdl-textfield__input" pattern="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$" type="text" id="Gateway" name="Gateway" value="{{.Data.Gateway}}">
                        <div class="mdl-textfield__error">Invalid format</div>
                     </div>
                  </div>
               </li>
               <!-- DNS1:  -->
               <li class="mdl-list__item mdl-list__item--three-line">
                  <div class="mdl-list__item-primary-content">
                     <div class="color-accent mdl-color-text">DNS 1: </div>
                     <div class="mdl-list__item-text-body">
                        DNS provider, should be something like: '8.8.8.8'.
                     </div>
                  </div>
                  <div class="mdl-list__item-secondary-content">
                     <div class="mdl-textfield mdl-js-textfield" id="DNS1Input">
                        <input required class="mdl-textfield__input" pattern="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$" type="text" id="DNS1" name="DNS1" value="{{.Data.DNS1}}">
                        <div class="mdl-textfield__error">Invalid format</div>
                     </div>
                  </div>
               </li>
               <!-- DNS2:  -->
               <li class="mdl-list__item mdl-list__item--three-line">
                  <div class="mdl-list__item-primary-content">
                     <div class="color-accent mdl-color-text">DNS 2: </div>
                     <div class="mdl-list__item-text-body">
                        DNS provider, should be something like: '8.8.8.8'.
                     </div>
                  </div>
                  <div class="mdl-list__item-secondary-content">
                     <div class="mdl-textfield mdl-js-textfield" id="DNS2Input">
                        <input required class="mdl-textfield__input" pattern="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$" type="text" id="DNS2" name="DNS2" value="{{.Data.DNS2}}">
                        <div class="mdl-textfield__error">Invalid format</div>
                     </div>
                  </div>
               </li>
               {{if .Error}}
               <li class="mdl-list__item">
                  <p style="color:red">{{.ErrorMessage}}</p>
               </li>
               {{else if .Success}}
               <li class="mdl-list__item">
                  <p style="color:green">{{.SuccessMessage}}</p>
               </li>
               {{end}}
            </ul>
            <!-- Card foot -->
            <div class="mdl-card__actions mdl-card--border">
               <!-- Update button -->
               <input type="submit" class="main-color mdl-button mdl-js-button mdl-button--raised" value="Update {{.Page}}" name="Update{{.Page}}">
            </div>
         </form>
      </div>
   </div>
</div>
<script type="text/javascript">
   const IPI = document.getElementById("IPInput");
   const IP = document.getElementById("IP");
   var IPDHCP = "";
   var IPStatic = "";

   const GatewayI = document.getElementById("GatewayInput");
   const Gateway = document.getElementById("Gateway");
   var GatewayDHCP = "";
   var GatewayStatic = "";

   const NetmaskI = document.getElementById("NetmaskInput");
   const Netmask = document.getElementById("Netmask");
   var NetmaskDHCP = "";
   var NetmaskStatic = "";

   const DNS1I = document.getElementById("DNS1Input");
   const DNS1 = document.getElementById("DNS1");
   var DNS1DHCP = "";
   var DNS1Static = "";

   const DNS2I = document.getElementById("DNS2Input");
   const DNS2 = document.getElementById("DNS2");
   var DNS2DHCP = "";
   var DNS2Static = "";

   document.addEventListener("DOMContentLoaded", function(event) {
   	var initialMode = document.getElementById("Mode").getAttribute("initialValueHack");
   	document.getElementById("Mode").value = initialMode;
    if (initialMode === "DHCP") {
      IPDHCP = IP.value;
      GatewayDHCP = Gateway.value;
      NetmaskDHCP = Netmask.value;
      DNS1DHCP = DNS1.value;
      DNS2DHCP = DNS2.value;
    } else {
      IPStatic = IP.value;
      GatewayStatic = Gateway.value;
      NetmaskStatic = Netmask.value;
      DNS1Static = DNS1.value;
      DNS2Static = DNS2.value;
    }
   	onModeChange(initialMode);
   });

   function onModeChange(newValue){
   	try {
   		newValue === "DHCP"? disable() : enable();
      IPI.MaterialTextfield.checkDirty();
      GatewayI.MaterialTextfield.checkDirty();
      NetmaskI.MaterialTextfield.checkDirty();
      DNS1I.MaterialTextfield.checkDirty();
      DNS2I.MaterialTextfield.checkDirty();
      IPI.MaterialTextfield.checkValidity();
      GatewayI.MaterialTextfield.checkValidity();
      NetmaskI.MaterialTextfield.checkValidity();
      DNS1I.MaterialTextfield.checkValidity();
      DNS2I.MaterialTextfield.checkValidity();
   	} catch (e) {
   		setTimeout(() => onModeChange(newValue), 100);
   	}
   }

   function disable(){
    IPStatic = IP.value;
    IP.value = IPDHCP;
    IPI.MaterialTextfield.disable();
    IP.removeAttribute("pattern");

    GatewayStatic = Gateway.value;
    Gateway.value = GatewayDHCP;
    GatewayI.MaterialTextfield.disable();
    Gateway.removeAttribute("pattern");

    NetmaskStatic = Netmask.value;
    Netmask.value = NetmaskDHCP;
    NetmaskI.MaterialTextfield.disable();
    Netmask.removeAttribute("pattern");

    DNS1Static = DNS1.value;
    DNS1.value = DNS1DHCP;
    DNS1I.MaterialTextfield.disable();
    DNS1.removeAttribute("pattern");

    DNS2Static = DNS2.value;
    DNS2.value = DNS2DHCP;
    DNS2I.MaterialTextfield.disable();
    DNS2.removeAttribute("pattern");
   }

   function enable(){
    IP.value = IPStatic;
    IPI.MaterialTextfield.enable();
    IP.setAttribute("pattern", "^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$");

    Gateway.value = GatewayStatic;
    GatewayI.MaterialTextfield.enable();
    Gateway.setAttribute("pattern", "^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$");

    Netmask.value = NetmaskStatic;
    NetmaskI.MaterialTextfield.enable();
    Netmask.setAttribute("pattern", "^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$");

    DNS1.value = DNS1Static;
    DNS1I.MaterialTextfield.enable();
    DNS1.setAttribute("pattern", "^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$");

    DNS2.value = DNS2Static;
    DNS2I.MaterialTextfield.enable();
    DNS2.setAttribute("pattern", "^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$");
   }
</script>
{{end}}
