{{define "password"}}

<div class="mdl-grid">
   <div class="mdl-cell mdl-cell--6-col">
      <!-- Card -->
      <div class='demo-card-wide mdl-card mdl-shadow--6dp'>
         <form class='form'  method="post" action="">
            <!-- Card body -->
            <ul class="mdl-list">
               <!-- Username -->
               <li class="mdl-list__item">
                  <div class="mdl-list__item-primary-content">
                     <div class="color-accent mdl-color-text">Username: </div>
                  </div>
                  <div class="mdl-list__item-secondary-content">
                     <div class="mdl-textfield mdl-js-textfield" id="UsernameInput">
                        <input required class="mdl-textfield__input" type="text" id="Username" name="Username">
                     </div>
                  </div>
               </li>
               <!-- OldPassword -->
               <li class="mdl-list__item">
                  <div class="mdl-list__item-primary-content">
                     <div class="color-accent mdl-color-text">Old password: </div>
                  </div>
                  <div class="mdl-list__item-secondary-content">
                     <div class="mdl-textfield mdl-js-textfield" id="OldPasswordInput">
                        <input required class="mdl-textfield__input" type="password" id="OldPassword" name="OldPassword">
                     </div>
                  </div>
               </li>
               <!-- NewPassword -->
               <li class="mdl-list__item">
                  <div class="mdl-list__item-primary-content">
                     <div class="color-accent mdl-color-text">New password: </div>
                  </div>
                  <div class="mdl-list__item-secondary-content">
                     <div class="mdl-textfield mdl-js-textfield" id="NewPasswordInput">
                        <input required class="mdl-textfield__input" type="password" id="NewPassword" name="NewPassword" oninput="onNewPassword(this.value)">
                     </div>
                  </div>
               </li>
               <!-- RePassword -->
               <li class="mdl-list__item">
                  <div class="mdl-list__item-primary-content">
                     <div class="color-accent mdl-color-text">Repeat new password: </div>
                  </div>
                  <div class="mdl-list__item-secondary-content">
                     <div class="mdl-textfield mdl-js-textfield" id="RePasswordInput">
                        <input required class="mdl-textfield__input" type="password" id="RePassword" name="RePassword">
                        <div class="mdl-textfield__error">Password doesn't match.</div>
                     </div>
                  </div>
               </li>
               {{if .Error}}
               <li class="mdl-list__item">
                  <p style="color:red">{{.ErrorMessage}}</p>
               </li>
               {{else if .Success}}
               <li class="mdl-list__item">
                  <p style="color:green">{{.SuccessMessage}}</p>
               </li>
               {{end}}
            </ul>
            <!-- Card foot -->
            <div class="mdl-card__actions mdl-card--border">
               <!-- Update button -->
               <input type="submit" class="main-color mdl-button mdl-js-button mdl-button--raised" value="Update {{.Page}}" name="Update{{.Page}}">
            </div>
         </form>
      </div>
   </div>
</div>
<script type="text/javascript">
  const RePassword = document.getElementById("RePassword");
  const RePasswordI = document.getElementById("RePasswordInput");

  function onNewPassword (newPass) {
      RePassword.setAttribute("pattern", newPass);
      RePasswordI.MaterialTextfield.checkValidity();
      RePasswordI.MaterialTextfield.checkDirty();
  }
</script>
{{end}}
